body {
    background-color: white;
}

.column {
    float: left;
    width: 33.33%;
    padding:30px;
}

.navbar-nav {
    font-size: 20px;

}
.header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
}

footer {
    color: black;
    background-color: lightgrey;

}

#p01 {
    padding: 30px;
    font-family: courier;
    font-size: 160%; 
}

p.price {
    color: green;
}

#background1 {
    background-color: whitesmoke;
    color: slateblue;
    padding: 20px;

}