body {
    background-color: white;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
}
p {
    border: 1px solid powderblue;
    color: red;
    font-family: courier;
    font-size: 160%;
}