.bodyclass1 {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    float: center;
}

.title{
    text-align: center;
    padding: 30px;
}

h3{
    color: yellowgreen;
    font-size: 
}

/*body { 
    background: url(./cream_dust.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}*/
.p, .div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 17px;
}
.dropdown-item {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contactP {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

.homeP {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
}
.imgs {
    width: 100%;
    height: 200px;
}
.contactBody {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.break {
    padding: 50px;
}


.bodyclass {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;

}

.h3{
    text-align: center;
}

.verticalLine {
    border-left: solid lightslategray;
    height: 100%;
  }
p1 {
    font-family: Georgia, serif;
    font-size: 19px;
    padding-top: 20px;
    color: darkblue;
    
}

p2 {
    font: size 17px;
}

.col-sm-3{
    padding-bottom: 50px;
}

.paddingBottom{
    padding-bottom: 30px;
}




.col-sm-9{
    padding-bottom: 50px;

}

.div1 { 
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 80px;
}

.navbar-nav {
    font-size: 20px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;




}


.header {
    background-color: rgb(255, 255, 60);
    text-align: center;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.continer-fluid

h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
}


.h4 {
    text-align: center; 
    padding: 30px;
}
.contacth3{
    text-align: center;
}
.imgallign {
    align-content: center
}

h2{
    padding: 30px;
    text-align: center
}

.h2{
    padding: 10Spx;
    font-family: Georgia, serif;
    text-align: center
}

footer {
    color: black;
    background-color: lightgrey;

}

.column1{
    height: 400px
    
}
#p01 {
    padding: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p.price {
    color: green;
}

#background1 {
    background-color: whitesmoke;
    color: slateblue;
    padding: 20px;
}

.footerP {
    font-size: 17px;
}

.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.responsive-image {
  height: auto;
  width: 80%;
}